.wrapper {
  margin: 2rem 0rem;
  border-radius: 8px;
  width: 410px;
  background: #eef1f4;
  overflow: hidden;
  border: 2px rgba(255, 255, 255, 0.3) solid;
}
#display {
  padding: 2rem;
  border: none;
  outline: none;
  width: 100%;
  height: 20rem;
  background: rgba(203, 214, 222, 0.5);
  text-align: right;
  font-size: 2rem;
}
.keypad {
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  background: linear-gradient(
    180deg,
    rgba(207, 207, 220, 0.3) 0%,
    rgba(114, 114, 127, 0) 100%
  );
  padding: 1rem 1.5rem;
}
.row:nth-child(1) {
  padding-bottom: 0rem;
}
.row {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.operator {
  border-radius: 8px;
  outline: 0;
  border: none;
  background-color: #ffffff;
  width: 3.8125rem;
  height: 3.875rem;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}
.number {
  border-radius: 100%;
  outline: 0;
  border: none;
  background-color: #ffffff;
  width: 3.8125rem;
  height: 3.875rem;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}
